footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer ul{
    width: 100%;
    margin: 0;
    padding: 0;
 color: rgb(61, 61, 61);
    text-align: center;
}
footer a,
footer a:visited{
 color: rgb(61, 61, 61);

}

footer li{
    list-style: none;
    padding: 10px 0 10px 0;
}